<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>教师首页</title>
	<link rel="stylesheet" href="../css/teacher/index.css" type="text/css" />
	<script src="http://code.jquery.com/jquery-latest.js"></script>

	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- 可选的Bootstrap主题文件（一般不使用） -->
	<script src="../bootstrap-3.3.7-dist/css/bootstrap-theme.min.css"></script>
	
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="../js/teacher/index.js"></script>
	<!-- cropit裁剪图片插件 -->
	<script src="../cropit/dist/jquery.cropit.js"></script>
</head>
<body>
	<div class="container">
		<!--头信息-->
		<div class="row clearfix" style="background: #4D4D4D;">
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<div class="row clearfix">
							<div class="col-md-12 column info">
								<strong>当前用户：</strong>
								<a href="MyInfo.html" target="lemon" class="name"></a>
								<a href="#">修改密码</a>
								<a href="/ExamOnline/loginOut.do?role=teacher">注销</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 搜索框 导航之类 -->
		<div class="row clearfix header">
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<div class="row clearfix">
							<div class="col-md-12 column">
								<div class="col-lg-3">
									<a href="index.html"><img src="../img/logo_exam.png"/></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row clearfix">
			<div class="col-md-12 column">
				<!-- 公告 -->
				<div class="row clearfix announcement">
					<div class="col-md-12 column">
						<span class="glyphicon glyphicon-comment" style="color: #8A6D3B; font-size: 14px;"/>　<strong style="color:#976D3B;">公告：</strong><a href="">首页置顶公告</a>
					</div>
				</div>
				<br>
				<div class="row clearfix">
					<div class="col-md-12 column">
						
						<table class="table" style="background: white;">
							<tbody>
								<tr>
									<td>
										<h1>试题
											<small>相关功能</small>
										</h1>
									</td>
								</tr>
								<tr>
									<td>
										<a href="QuestionType.html">试题类型管理</a>|
										<a href="Question.html">试题管理</a>
									</td>
								</tr>
								<tr>
									<td>
										<h1>试卷
											<small>相关功能</small>
										</h1>
									</td>
								</tr>
								<tr>
									<td>
										<a href="page.html">试卷管理</a>
									</td>
								</tr>
								<tr>
									<td>
										<h1>考试
											<small>相关功能</small>
										</h1>
									</td>
								</tr>
								<tr>
									<td>
										<a href='exam.html'>考试管理</a>
									</td>
								</tr>
								<tr>
									<td>
										<h1>成绩管理
											<small>相关功能</small>
										</h1>
									</td>
								</tr>
								<tr>
									<td>
										<a href='examToScore.html'>阅卷评分</a>|
										<a href="analysisExam.html">成绩分析</a>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>