<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>试题类型</title>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- 可选的Bootstrap主题文件（一般不使用） -->
	<script src="../bootstrap-3.3.7-dist/css/bootstrap-theme.min.css"></script>
	
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../css/teacher/index.css" type="text/css" />
</head>
<body>
	<div class="container">
		<!--头信息-->
		<div class="row clearfix" style="background: #4D4D4D;">
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<div class="row clearfix">
							<div class="col-md-12 column info">
								<strong>当前用户：</strong>
								<a href="MyInfo.html" target="lemon">李坤</a>
								<a href="#">短消息(<span>0</span>)</a>
								<a href="#">公告(<span>0</span>)</a>
								<a href="#">修改密码</a>
								<a href="#">注销</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 搜索框 导航之类 -->
		<div class="row clearfix header">
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<div class="row clearfix">
							<div class="col-md-12 column">
								<div class="col-lg-3">
									<a href="index.html"><img src="../img/logo_exam.png"/></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row clearfix">
			<div class="col-md-12 column">
				<!-- 公告 -->
				<div class="row clearfix announcement">
					<div class="col-md-12 column">
						<span class="glyphicon glyphicon-comment" style="color: #8A6D3B; font-size: 14px;"/>　<strong style="color:#976D3B;">公告：</strong><a href="">首页置顶公告</a>
					</div>
				</div>
				<br>
				<div class="row clearfix">
					<div class="col-md-12 column">
						
						<table class="table table-hover">
							<font style="font-size: 3em;">试题类型</font>|
							<!-- 按钮触发模态框 -->
							<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">新增类型</button>
							<thead>
								<tr>
									<th>类型名称</th>
									<th>试题模式</th>
									<th>试题分值</th>
									<th>已有数量</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>单选题</td>
									<td>客观题</td>
									<td>1</td>
									<td>200</td>
								</tr>
								<tr>
									<td>多选题</td>
									<td>客观题</td>
									<td>2</td>
									<td>100</td>
								</tr>
								<tr>
									<td>填空题</td>
									<td>主观题</td>
									<td>5</td>
									<td>200</td>
								</tr>
								<tr>
									<td>简答题</td>
									<td>主观题</td>
									<td>5</td>
									<td>200</td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">新增类型</h4>
				</div>
				<div class="modal-body">
				<form action="javascript:void()" id="form">
						<table>
							<tr>
								<td><label for="typeName" class="col-sm-12 control-label">类型名</label></td>
								<td><input type="text" class="form-control" id="typeName" placeholder="不能与已有类型重复"></td>
							</tr>
							<tr>
								<td><label for="name">试题模式</label></td>
								<td><select class="form-control">
									<option>主观题</option>
									<option>客观题</option>
								</select></td>
							</tr>
							<tr>
								<td><label for="name">试题分值</label></td>
								<td>
									<select class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
								</td>
							</tr>
						</table>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary">提交</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
</body>
</html>
